body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  background-color: #f6f7f9;
  color: #404e5f;
  margin: 0;
  padding: 0;
  overflow: hidden; }

@media (max-width: 1100px) {
  body {
    overflow: unset; } }

* {
  color: #31475f; }

a {
  text-decoration: none; }

input, textarea {
  font-family: 'Lato', sans-serif;
  background-color: transparent; }

.input-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #c4ca18; }

.input-field:first-of-type {
  margin-bottom: 1rem; }

.input-field > img {
  width: 25px;
  object-fit: contain; }

.input-field > input {
  all: unset;
  flex: 1;
  width: 100%;
  color: #c4ca18;
  font-size: 1.1rem;
  padding: 0.75rem; }

.checkbox-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0; }

.checkbox-field > input {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem; }

.checkbox-field > span {
  color: #999; }

::-webkit-input-placeholder {
  color: rgba(196, 202, 24, 0.5); }

::-moz-placeholder {
  color: rgba(196, 202, 24, 0.5); }

:-ms-input-placeholder {
  color: rgba(196, 202, 24, 0.5); }

:-moz-placeholder {
  color: rgba(196, 202, 24, 0.5); }

details > summary {
  user-select: none;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center; }

details > summary:before {
  content: "+";
  font-size: 1.75rem;
  position: relative;
  top: -.1rem;
  margin-right: 1rem; }

details[open] > summary:before {
  content: "_";
  position: relative;
  top: -1rem; }

details > label {
  position: relative;
  left: -5px; }

details > label:last-of-type {
  margin-bottom: 1rem; }

#side-nav-bar-container {
  position: fixed;
  z-index: 9;
  width: 280px;
  height: 100%;
  background-color: #001e2d;
  left: 0;
  transition: 150ms transform ease-out;
  transform: translateX(-100%); }

@media (max-width: 1280px) {
  #side-nav-bar-container {
    height: calc(100% - 79px);
    top: 79px;
    overflow: auto; } }

@media (min-width: 1281px) {
  #side-nav-bar-container.visible {
    transform: translateX(0%); } }

#side-nav-bar-container.showed {
  transform: translateX(0%); }

#side-nav-bar-container > .menu-nav-link {
  display: flex;
  padding: 25px 35px;
  font-size: 1.4rem;
  color: white;
  transition: 150ms background-color ease-out; }

#side-nav-bar-container > .menu-nav-link:hover {
  background-color: #001b29; }

#side-nav-bar-container > .menu-nav-link > img {
  margin-left: auto;
  width: 25px;
  object-fit: contain; }

#side-nav-bar-container > .menu-nav-link.active {
  background-color: #c4ca18; }

#side-nav-bar-container > .menu-nav-link.main-nav-link {
  font-weight: bold; }

#side-nav-bar-container > .menu-nav-group {
  padding: 25px 35px; }

#side-nav-bar-container > .menu-nav-group > p {
  font-size: 1.4rem;
  color: white;
  margin: 0 0 0.5rem;
  padding-bottom: 1rem;
  border-bottom: thin solid #31475f; }

#side-nav-bar-container > .menu-nav-group > a {
  display: block;
  font-size: 1.1em;
  padding: 0.5rem 0;
  color: #999;
  margin: 0; }

#side-nav-bar-container > .menu-nav-group > a:hover {
  background-color: #001b29; }

#mobile-header {
  display: none;
  background-color: #001e2d;
  padding: 20px 45px;
  height: 39px;
  position: sticky;
  top: 0; }

@media (max-width: 600px) {
  #mobile-header {
    padding: 20px 15px; } }

#mobile-header > h1 {
  margin: 0 20px;
  font-size: 1.7rem;
  color: white;
  text-transform: capitalize;
  font-weight: 500; }

@media (max-width: 1280px) {
  #mobile-header {
    display: flex;
    align-items: center; } }

#main-container {
  padding-left: 0; }

@media (min-width: 1281px) {
  #main-container {
    padding-left: 280px; } }

#discover-container {
  padding: 45px 0 45px 45px; }

@media (max-width: 1100px) {
  #discover-container {
    padding: 15px 0 45px 45px; } }

@media (max-width: 600px) {
  #discover-container {
    padding: 15px 0 15px 15px; } }

#discover-container > .loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 1101px) {
  #discover-container > .loader-wrapper {
    padding-right: 388px; } }

#discover-container > .loader-wrapper > .lds-roller > div:after {
  background-color: #001e2d; }

#discover-container > .loader-wrapper > p {
  text-transform: uppercase;
  font-size: 0.75rem; }

#discover-container > #movie-result-wrapper {
  height: 93vh;
  overflow: hidden; }

@media (max-width: 1100px) {
  #discover-container > #movie-result-wrapper {
    height: auto; } }

#discover-container > #movie-result-wrapper > #movie-counter {
  margin: 0 0 1rem;
  font-size: 0.9rem; }

#discover-container > #movie-result-wrapper > #movies-wrapper {
  height: 100%;
  overflow: auto; }

@media (min-width: 1101px) {
  #discover-container > #movie-result-wrapper > #movies-wrapper {
    padding-right: 388px; } }

#discover-container > #filter-wrapper {
  display: block;
  position: fixed;
  width: 360px;
  top: 80px;
  right: 45px;
  transition: 150ms transform ease-out; }

@media (max-width: 1280px) {
  #discover-container > #filter-wrapper {
    top: 160px; } }

@media (max-width: 1100px) {
  #discover-container > #filter-wrapper {
    display: none; } }

@media (max-width: 1100px) {
  #discover-container > #filter-wrapper.showed {
    display: block;
    position: relative;
    width: calc(100% - 45px);
    margin-bottom: 1rem;
    top: 0;
    right: 0; } }

@media (max-width: 600px) {
  #discover-container > #filter-wrapper.showed {
    width: calc(100% - 15px); } }

#discover-container > #filter-wrapper > .filter-container {
  background-color: white;
  padding: 20px; }

@media (max-width: 1100px) {
  #discover-container > #filter-wrapper > .filter-container:first-of-type {
    background-color: unset;
    padding: 0; } }

#discover-container > #filter-wrapper > #form-container {
  margin-bottom: 15px; }

#discover-container > #filter-wrapper > #form-container > .input-field:first-of-type {
  margin-bottom: 1rem; }

@media (max-width: 1100px) {
  #discover-container > #filter-wrapper > #form-container > .input-field:first-of-type {
    display: none; } }

#discover-container > #filter-wrapper > #checkbox-container > p {
  font-weight: 900; }

#discover-container > #mobile-filter-wrapper {
  display: none;
  padding-right: 45px; }

@media (max-width: 1100px) {
  #discover-container > #mobile-filter-wrapper {
    display: flex; } }

@media (max-width: 600px) {
  #discover-container > #mobile-filter-wrapper {
    padding-right: 15px; } }

#discover-container > #mobile-filter-wrapper > .input-field {
  flex: 1;
  margin-right: 20px; }

#discover-container > #mobile-filter-wrapper > img {
  width: 35px;
  object-fit: contain;
  cursor: pointer;
  transition: 150ms all ease-out; }

#discover-container > #mobile-filter-wrapper > img:hover {
  transform: scale(1.1); }
